# Entornos virtuales
venv/
.venv/
__pycache__/
*.pyc

# Variables de entorno (credenciales)
.env

# Jupyter
.ipynb_checkpoints/

# Bases de datos locales
*.db
*.sqlite3

# Sistema operativo
.DS_Store
